# Python
__pycache__/
*.pyc
venv/
.env
*.sqlite3

# HuggingFace / caches / models
.cache/
root/.cache/
root/.cache/
huggingface_cache/
models/
slovak-udpipe.udpipe

# Docker / build
docker-compose.override.yml
docker-compose.*.yml
Dockerfile
tmp/
dist/
node_modules/

# OS
.DS_Store
Thumbs.db
